@import 'utils';


.aboutusMainSection {
    padding-top: 36px;
    flex: 1;
    height: calc(100vh - 280px);
    overflow: auto;
    background-color: $creamGrey;
    text-align: center;
    place-content: center;
    color: $creamGrey;
    &> .container-md {
        // place-content: center;
        .aboutUsCopy > p {
            text-align: left;
            max-width: 400px !important;
        }
    }
    h1 {
        // color: rgb(226, 171, 33);
        background-image: $blue-purple-gradient-left;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $Barcade;
        font-size: 7rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    p {
        color: $iuBlack;
        font-size: 1.3rem;
    }

    
}
@media screen and (max-width: 369px) {
    .newsSection {
        h1 {
            font-size: 4.5rem;
        }
    }
}