@import 'utils';

.footerSection {

    position: absolute;
    bottom: 0;
    width: 100%;

    margin-top: 20px;
    background-image: $blue-purple-gradient-bottom;
    color: $creamGrey;
    font-family: $Hack !important;
    text-align: center;
    padding: 40px 10px;
}