@import 'utils';

.footerSection {

    position: relative;
    bottom: 0;
    width: 100%;

    margin-top: 20px;
    // background-color: $crimson;
    background-image: $blue-purple-gradient-bottom;
    color: $creamGrey;
    font-family: $Hack;
    text-align: center;
    padding: 40px 10px;
}