@import "~bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Roboto&display=swap');
$Open-Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$JockeyOne: 'Jockey One', sans-serif;

html,body {
    // text-align: center;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
h1, h2 {
    font-family: $Open-Sans;
    font-weight: 700;
}
h3, h4, h5, h6, p {
    font-family: $Montserrat;
}
main {
  margin-top: 6rem;
}


* {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  display: block;
}
