@import "utils";

.heroSection {

    .introCopy {
        // place-content: center;
        // place-items: center;
        height: 50vh;
        width: auto;
        line-height: .7rem;
        .discordButton {
            background-color: #5865F2;
            margin-right: 1rem;
            box-shadow: black 3px 3px 5px;
            border: transparent;
        }
        .emailButton {
            background-color: $midnight;
            box-shadow: black 3px 3px 5px;
            border: transparent;
        }
    }
}
@media screen and (max-width:380px) {
    .heroSection {
        .introCopy {
            padding-left: 10px !important;
        }
        p {
            font-size: .9rem;
        }
    }
}
@media screen and (max-width:766.98px) {
    .heroSection {
        .row {
            margin: auto;
        }
        .introCopy {
            padding-left: 40px;
        }
    }
}


.newsSection {
    background-color: $creamGrey;
    text-align: center;
    place-content: center;
    color: $creamGrey;
    &> .container-md {
        place-content: center;
    }
    h1 {
        // color: rgb(226, 171, 33);
        background-image: $blue-purple-gradient-left;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $Barcade;
        font-size: 7rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    p {
        color: $iuBlack;
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 369px) {
    .newsSection {
        h1 {
            font-size: 4.5rem;
        }
    }
}