@import "utils";


.introSection {
    position: relative; // position absolute children relative to this element
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    // color: #FFFFFF;
    // background-image: $blue-purple-gradient-bottom;
    
    
    .standardWaveBottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    .standardWaveBottom svg {
        position: relative;
        display: block;
        width: calc(140% + 1.3px);
        height: 127px;
    }
    .standardWaveBottom .shapeFill {
        fill: #FFFFFF;
    }

}

.discordButton {
    background-color: #5865F2;
    margin-right: 1rem;
    box-shadow: black 3px 3px 5px;
    border: transparent;
}
.emailButton {
    // background-color: transparent;
    box-shadow: black 3px 3px 5px;
    border: transparent;

    background-image: $blue-purple-gradient-left;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;

}