// @import url(_utils.scss);
@import "utils";


.logo {
    color: $midnight !important;
    font-family: $Barcade;
    background-image: $blue-purple-gradient-left;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navText {
    font-family: $Hack;
}

.navbarStyling {
    background-color: transparent;
    color: $midnight !important;
    margin-bottom: 2rem;
}

.socialLinks {
    padding-left: 10px;
    margin-top: 10px;
    display: block;

    &>a {
        padding-right: 10px;
    }
}

.github {
    color: black;
    &:hover {
        color: $midnight;
    }
}
.discord {
    color: #5865F2;
    &:hover {
        color: $midnight;
    }
}
.twitter {
    color: #1DA1F2;
    &:hover {
        color: $midnight;
    }
}
.medium {
    color: #000;
    &:hover {
        color: $midnight;
    }
}
.spotify {
    color: #1DB954;
    &:hover {
        color: $midnight;
    }
}