@font-face {
    font-family: "Hack";
    font-display: swap;
    src: url(../fonts/Hack/hack-regular.woff) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Roboto&display=swap');
$Open-Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$JockeyOne: 'Jockey One', sans-serif;

$crimson: #990000;
$creamGrey: #EDEBEB;
$darkMidnight: #01426A;
$midnight: #006298;
$darkMajestic: #512A44;
$majestic: #66435A;
$mahogany: #4A3C31;
$iuBlack: #191919;

.headingFont {
    font-family: $Open-Sans;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}